IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

body {
        background-color: #fae845;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:normal;
        font-style:normal;
    }
h1  {
        background-color: #fdd701e5;
    }
.center {
        text-align: center;
      }
      body { 
        color: rgb(61, 54, 50);
  }
  h1 {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
  }
  p, h2 {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:normal;
    line-height:20px;
    color:#661313;
}